@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color {
  @apply text-transparent bg-clip-text inline-block;
  background-image: linear-gradient(to right, #022f40, #38aecc);
}

.secundary-color {
  @apply text-transparent bg-clip-text inline-block;
  background-image: linear-gradient(to right, #312e2e, #536063);
}

body {
  background-color: black;
}

.bg-primary-color {
  @apply inline-block;
  background-image: linear-gradient(to right, #022f40, #38aecc);
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__image {
  width: 805px; /* Ancho deseado */
  height: 400px; /* Alto deseado */
  object-fit: cover; /* Para que las imágenes mantengan su relación de aspecto y se recorten si es necesario */
  border-radius: 10px; /* Para tener un marco con esquinas redondeadas */
  filter: saturate(120%) brightness(110%); /* Aplicar filtro de saturación y brillo */
}

.flag {
  width: 25px;
  height: 25px;
}

.flag:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.skill-icon {
  filter: grayscale(100%); /* Comienza en gris */
  animation: colorize 2s infinite alternate;
}

@keyframes colorize {
  0% {
    filter: grayscale(100%); /* En gris */
  }
  100% {
    filter: grayscale(0%); /* En color */
  }
}
